parameters:
	level: 9
	paths:
		- src
	ignoreErrors:
		-
			message: "#^Method Typertion\\\\Php\\\\TypeAssert\\:\\:classString\\(\\) should return class\\-string but returns mixed\\.$#"
			count: 1
			path: src/TypeAssert.php

		-
			message: "#^Method Typertion\\\\Php\\\\TypeAssert\\:\\:classStringOf\\(\\) should return class\\-string\\<TClassString\\> but returns mixed\\.$#"
			count: 1
			path: src/TypeAssert.php

		-
			message: "#^Method Typertion\\\\Php\\\\TypeAssert\\:\\:classStringOfOrNull\\(\\) should return class\\-string\\<TClassString\\>\\|null but returns mixed\\.$#"
			count: 1
			path: src/TypeAssert.php

		-
			message: "#^Method Typertion\\\\Php\\\\TypeAssert\\:\\:classStringOrNull\\(\\) should return class\\-string\\|null but returns mixed\\.$#"
			count: 1
			path: src/TypeAssert.php

		-
			message: "#^Method Typertion\\\\Php\\\\TypeAssert\\:\\:floatishOrNull\\(\\) should return float\\|null but returns mixed\\.$#"
			count: 1
			path: src/TypeAssert.php

		-
			message: "#^Method Typertion\\\\Php\\\\TypeAssert\\:\\:integerishOrNull\\(\\) should return int\\|null but returns mixed\\.$#"
			count: 1
			path: src/TypeAssert.php
